In [27]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import fuzzywuzzy as fuzzywuzzy
from fuzzywuzzy import process

%matplotlib inline
dataset = pd.read_csv('F:/DAB resources/portable water usage/38100271.csv')
dataset.head()

C:\Users\MOHAMMED AMER\anaconda\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

,Year,State,Characteristics of potable water use,UOM,SCALAR_FACTOR,VALUE,Country
0,2011,Canada,"Total potable water volume, all sectors of use",Cubic metres,millions,5123.7,Canada
1,2011,Canada,Residential sector,Cubic metres,millions,2195.8,Canada
2,2011,Canada,"Industrial, commercial, institutional and othe...",Cubic metres,millions,1108.1,Canada
3,2011,Canada,Losses from the distribution system,Cubic metres,millions,673.3,Canada
4,2011,Canada,Wholesale water provided to other jurisdictions,Cubic metres,millions,212.3,Canada

In [38]:
print(dataset.dtypes)

Year                                      int64
State                                    object
Characteristics of potable water use     object
UOM                                      object
SCALAR_FACTOR                            object
VALUE                                   float64
Country                                  object
dtype: object

In [3]:
missing_values = dataset.isnull().sum()
missing_values

Year                                    0
State                                   0
Characteristics of potable water use    0
UOM                                     0
SCALAR_FACTOR                           0
VALUE                                   7
Country                                 0
dtype: int64

In [12]:
dataset.dropna(how='all', axis=1)

,Year,State,Characteristics of potable water use,UOM,SCALAR_FACTOR,VALUE,Country
0,2011,Canada,"Total potable water volume, all sectors of use",Cubic metres,millions,5123.7,Canada
1,2011,Canada,Residential sector,Cubic metres,millions,2195.8,Canada
2,2011,Canada,"Industrial, commercial, institutional and othe...",Cubic metres,millions,1108.1,Canada
3,2011,Canada,Losses from the distribution system,Cubic metres,millions,673.3,Canada
4,2011,Canada,Wholesale water provided to other jurisdictions,Cubic metres,millions,212.3,Canada
...,...,...,...,...,...,...,...
625,2019,Nunavut,Wholesale water provided to other jurisdictions,Cubic metres,millions,0.0,Canada
626,2019,Nunavut,Sector of use unknown,Cubic metres,millions,0.0,Canada
627,2019,Nunavut,Average daily total use per capita of the popu...,Litres per person per day,units,254.0,Canada
628,2019,Nunavut,Average daily residential use per capita of th...,Litres per person per day,units,136.0,Canada
629,2019,Nunavut,Responding population served for the average d...,Persons,units,35560.0,Canada

In [17]:
# sorting states by alphabetical order
state = dataset['State'].unique()
state.sort()
state

array(['Alberta', 'British Columbia', 'Canada', 'Manitoba',
       'New Brunswick', 'Newfoundland and Labrador',
       'Northwest Territories', 'Nova Scotia', 'Nunavut', 'Ontario',
       'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Yukon'],
      dtype=object)

In [19]:
# converting to lower case
dataset['State'] = dataset['State'].str.lower()
# remove trailing white spaces
dataset['State'] = dataset['State'].str.strip()
dataset

,Year,State,Characteristics of potable water use,UOM,SCALAR_FACTOR,VALUE,Country
0,2011,canada,"Total potable water volume, all sectors of use",Cubic metres,millions,5123.7,Canada
1,2011,canada,Residential sector,Cubic metres,millions,2195.8,Canada
2,2011,canada,"Industrial, commercial, institutional and othe...",Cubic metres,millions,1108.1,Canada
3,2011,canada,Losses from the distribution system,Cubic metres,millions,673.3,Canada
4,2011,canada,Wholesale water provided to other jurisdictions,Cubic metres,millions,212.3,Canada
...,...,...,...,...,...,...,...
625,2019,nunavut,Wholesale water provided to other jurisdictions,Cubic metres,millions,0.0,Canada
626,2019,nunavut,Sector of use unknown,Cubic metres,millions,0.0,Canada
627,2019,nunavut,Average daily total use per capita of the popu...,Litres per person per day,units,254.0,Canada
628,2019,nunavut,Average daily residential use per capita of th...,Litres per person per day,units,136.0,Canada
629,2019,nunavut,Responding population served for the average d...,Persons,units,35560.0,Canada

In [28]:
#Fuzzy matching: FuzzyWuzzy is a library of Python which is used for string matching. 
#Fuzzy string matching is the process of finding strings that match a given pattern.
#Basically it uses Levenshtein Distance to calculate the differences between sequences.
#FuzzyWuzzy has been developed and open-sourced by SeatGeek, a service to find sport and concert tickets.

# get the top 10 closest matches to "ontario"
matches = fuzzywuzzy.process.extract("ontario", state, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

# take a look at them
matches
#ref: https://www.geeksforgeeks.org/fuzzywuzzy-python-library/
#ref: https://www.kaggle.com/learn/data-cleaning

[('Ontario', 100),
 ('Northwest Territories', 36),
 ('Nova Scotia', 33),
 ('Yukon', 33),
 ('Canada', 31),
 ('Alberta', 29),
 ('Nunavut', 29),
 ('Manitoba', 27),
 ('British Columbia', 26),
 ('Prince Edward Island', 22)]

In [30]:
dataset['Year'].dtype

dtype('int64')

In [37]:
#parsing the year column to date
pd.to_datetime(dataset['Year'], format="%Y")

0     2011-01-01
1     2011-01-01
2     2011-01-01
3     2011-01-01
4     2011-01-01
         ...
625   2019-01-01
626   2019-01-01
627   2019-01-01
628   2019-01-01
629   2019-01-01
Name: Year, Length: 630, dtype: datetime64[ns]

In [70]:
population_canada = pd.read_csv('F:/DAB resources/portable water usage/Population-canada/17100009.csv')
population_canada.head()

      Year   State      UOM  UOM_ID SCALAR_FACTOR  SCALAR_ID     VALUE Country
0  1946-01  Canada  Persons     249         units          0  12188000  Canada
1  1946-04  Canada  Persons     249         units          0  12241000  Canada
2  1946-07  Canada  Persons     249         units          0  12316000  Canada
3  1946-10  Canada  Persons     249         units          0  12393000  Canada
4  1947-01  Canada  Persons     249         units          0  12450000  Canada

In [71]:
print(population_canada.dtypes)

Year             object
State            object
UOM              object
UOM_ID            int64
SCALAR_FACTOR    object
SCALAR_ID         int64
VALUE             int64
Country          object
dtype: object

In [72]:
#parsing the date
pd.to_datetime(population_canada['Year'], format="%Y-%m")

0      1946-01-01
1      1946-04-01
2      1946-07-01
3      1946-10-01
4      1947-01-01
          ...
3792   2021-07-01
3793   2021-07-01
3794   2021-07-01
3795   2021-07-01
3796   2021-07-01
Name: Year, Length: 3797, dtype: datetime64[ns]

In [73]:
column = population_canada["Year"]
max_value = column.max()
min_value = column.min()


print(max_value,min_value)

2021-07 1946-01

In [74]:
population_canada[(population_canada.Year == '2005-01')]

,Year,State,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VALUE,Country
2859,2005-01,Canada,Persons,249,units,0,32076720,Canada
2860,2005-01,Newfoundland and Labrador,Persons,249,units,0,516794,Canada
2861,2005-01,Prince Edward Island,Persons,249,units,0,137689,Canada
2862,2005-01,Nova Scotia,Persons,249,units,0,939215,Canada
2863,2005-01,New Brunswick,Persons,249,units,0,749002,Canada
2864,2005-01,Quebec,Persons,249,units,0,7559625,Canada
2865,2005-01,Ontario,Persons,249,units,0,12446466,Canada
2866,2005-01,Manitoba,Persons,249,units,0,1176051,Canada
2867,2005-01,Saskatchewan,Persons,249,units,0,995900,Canada
2868,2005-01,Alberta,Persons,249,units,0,3276797,Canada
2869,2005-01,British Columbia,Persons,249,units,0,4174018,Canada
2870,2005-01,Yukon,Persons,249,units,0,31771,Canada
2871,2005-01,Northwest Territories,Persons,249,units,0,43442,Canada
2872,2005-01,Nunavut,Persons,249,units,0,29950,Canada

In [83]:
population_canada.loc[[2859]]

,Year,State,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VALUE,Country
2859,2005-01,Canada,Persons,249,units,0,32076720,Canada

In [87]:
population_canada[2859:3791]

,Year,State,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VALUE,Country
2859,2005-01,Canada,Persons,249,units,0,32076720,Canada
2860,2005-01,Newfoundland and Labrador,Persons,249,units,0,516794,Canada
2861,2005-01,Prince Edward Island,Persons,249,units,0,137689,Canada
2862,2005-01,Nova Scotia,Persons,249,units,0,939215,Canada
2863,2005-01,New Brunswick,Persons,249,units,0,749002,Canada
...,...,...,...,...,...,...,...,...
3786,2021-07,Nova Scotia,Persons,249,units,0,992055,Canada
3787,2021-07,New Brunswick,Persons,249,units,0,789225,Canada
3788,2021-07,Quebec,Persons,249,units,0,8604495,Canada
3789,2021-07,Ontario,Persons,249,units,0,14826276,Canada
3790,2021-07,Manitoba,Persons,249,units,0,1383765,Canada